@{
    ViewBag.Title = "SignUp";
}

<div class="row">
    <div class="col-xs-6">
        <div class="CommentBox">

        </div>
    </div>
    <div class="col-xs-6">
        <div class="CommentBox">
            <!-- Email input -->
            <input type="text" id="txtSignInEmail" class="form-control" placeholder="Email" />
            <!-- Password input -->
            <input type="text" id="txtSignInPassword" class="form-control" placeholder="Password" />
            <!-- Submit button -->
            <input type="button" id="btnSignIn" class="btn btn-primary" value="Submit" />
            <!-- Register buttons -->
            <input type="button" id="btnRegister" class="btn btn-primary" style="float:right" value="Not Registered?" />
        </div>
    </div>
</div>